API_ID=22431683
API_HASH=6ab71bcb282fdf6ac3198399e8a2e2ae
BOT_TOKEN=8129555741:AAG2Hdp2ZUaVz1jrQS3ApVHNaofnRR8lbhs
LOG_GROUP_ID=-1002292555984
MONGO_DB_URI=mongodb+srv://Shadow12:Shadow12@cluster0.ddkep.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6993303142
STRING_SESSION=BQFNtIsASqX09sXO5pfcY21W0gh9aZ0Gd2WQ3a8p5ryzVwNwikoTW_ocJ1BxL6oUD22ZHkjQLhU7x9FS_LIG0U2uWB2IowJsHNbH9VT8P5vlo_FMTlcY5IFTg9ltROVuLUuEcH3ZUwmfTEWE6t20M6MskJwN59LfixqN1nkbKX-iOXTM3Y3PTE5GYPmdjZHK0JSxIl4aGEkR2TklCXVgeakXWp95ZcVBlB-6h_jCqYfmWfwT6WPyYcc-ELXCco-SwwXfBSZPglxMDX8IGmKDCPF_gXcMOe81CENNmWeksOy8yrcr3IT7Kh9ghLCYlrhPCeOuT2K0UikTXYScJTc9WbpVV7ey5gAAAAG5nyIVAA
